.servicePage {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  .containerService {
    ul {
      background: rgba(25, 25, 25, 0.82);
      padding: 2rem;
      position: relative;
      li {
        list-style: none;
        color: white;
        font-size: 1.2rem;
        padding: 1rem;
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        ul {
          display: none;
          position: absolute;
          box-sizing: border-box;
          width: 40rem;
        }
      }
      a {
        &:visited {
          color: white;
        }
      }
    }
  }

}