.servicePage {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  .containerService {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    background: rgba(25, 25, 25, 0.53);
    ul {
      position: relative;
      padding: 0;
      margin: auto;
      li {
        list-style: none;
        color: white;
        font-size: 1.2rem;
        padding: 1rem;
        cursor: pointer;
        transition: all .5s;
        &:hover {
          background: #474747;
          transition: all .5s;
          a {
            border-bottom: .1rem solid #b60000;
          }
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        ul {
          display: none;
          position: absolute;
          box-sizing: border-box;
          width: 40rem;
        }
      }
      a {
        border-bottom: .1rem solid rgba(140, 140, 140, 0);
        color: white;
        text-decoration: none;
        font-family: Prox;
        &:visited {
          color: white;
        }
      }
    }
  }

}