@font-face {
  font-family: 'Prox';
  src: url('./font/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: calc( (1vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
}